<svg {...Astro.props} fill="currentColor" width="24px" height="24px" viewBox="0 0 64 64"
  ><g id="SVGRepo_bgCarrier" stroke-width="0"></g><g
    id="SVGRepo_tracerCarrier"
    stroke-linecap="round"
    stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"
    ><title></title><path
      d="M48.5,58.5h-33a2,2,0,0,1-2-2V26a2,2,0,0,1,4,0V54.5h29V21.55l-9.4-12H17.5v4.41a2,2,0,0,1-4,0V7.5a2,2,0,0,1,2-2H38.07a2,2,0,0,1,1.58.77L50.08,19.63a2,2,0,0,1,.42,1.23V56.5A2,2,0,0,1,48.5,58.5Z"
    ></path><path
      d="M32,50.36a2,2,0,0,1-1.41-.58l-5.07-5.07a2,2,0,0,1,2.83-2.83L32,45.54l3.65-3.66a2,2,0,0,1,2.83,2.83l-5.07,5.07A2,2,0,0,1,32,50.36Z"
    ></path><path
      d="M32,50.36a2,2,0,0,1-2-2V31.43a2,2,0,0,1,4,0V48.36A2,2,0,0,1,32,50.36Z"
    ></path></g
  ></svg
>
