---
import Layout from "../layouts/Layout.astro";
import Experience from "../components/Experience.astro";
import AboutMe from "../components/AboutMe.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Intro from "../components/Intro.astro";
import Skills from "../components/Skills.astro";
---

<Layout title="Hola">
    <main>
        <!-- Intro -->
        <Intro />
        <SectionContainer class="px-6 md:px-0 py-10 md:py-12">
            <AboutMe id="about" />
        </SectionContainer>
        <!-- Experience -->
        <SectionContainer class="px-6 md:px-0 py-10 md:py-12">
            <Experience />
        </SectionContainer>
        <SectionContainer class="px-6 md:px-0 py-10 md:py-12">
            <Skills />
        </SectionContainer>
    </main>
</Layout>