---
import Badge from "./Badge.astro";
---

<div id="about"  class="w-full">
  <div class="flex gap-4 mb-4">
    <a
      href="https://www.linkedin.com/in/ruben-rolando-suarez-hidalgo-dev/"
      target="_blank"
      rel="noopener"
      class="flex items-center transition md:justify-center md:hover:scale-105">
      <Badge>Available to work</Badge>
    </a>
  </div>
  <h1 class="text-4xl font-bold tracking-tight text-gray-800 sm:text-5xl dark:text-white">
    About me
  </h1>
  <p class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300">
    +4 years of experience. From Valparaíso, Chile 🇨🇱.
    In the last 2 years, I have worked as a <strong>front-end developer</strong> at Kibernum, providing services to Falabella Financiero, mainly developing functionalities aimed at enhancing the user experience at Banco Falabella Peru
  </p>
  <p class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300">
    I have worked on various computer projects in my short career as a developer. Initially, I focused on game development, working with different platforms to create them (Unity, Unreal Engine 4, Phaser). However, currently <strong>I am fascinated by web development</strong>, where I have been able to collaborate on 2 major projects in Falabella Financiero using Angular.
  </p>
  <p class="mt-6 text-xl text-gray-800 dark:[&>strong]:text-yellow-200 [&>strong]:text-yellow-500 [&>strong]:font-semibold dark:text-gray-300">
    I consider myself a responsible, punctual, receptive professional with good availability for teamwork. I adapt quickly to new environments and work teams.
  </p>
  </p>
</div>
