---
interface Props {
	title: string;
}

const { title } = Astro.props;
---



<div class="block max-w-xs p-4 bg-white border border-black-border rounded-lg shadow dark:bg-black-card dark:border-black-border">
	<p class="text-center text-gray-700 dark:text-gray-400">{title}</p>
</div>
