---
import AngularIcon from "./icons/AngularIcon.astro";
import AstroIcon from "./icons/AstroIcon.astro";
import JavascriptIcon from "./icons/JavascriptIcon.astro";
import { YouTube } from 'astro-embed';
---
<h1 class="pb-10 text-2xl tracking-tight sm:text-3sm dark:text-yellow-subtitle">
    Projects
</h1>
<section id="project"  class="w-full mx-auto">
    <div class="lg:grid lg:grid-cols-2 lg:gap-16">
        <!-- Image -->
        <div class="hidden lg:flex">
            <div class="border-4 border-black-border rounded-lg bg-cover bg-center ..." style="width:400px; height:300px; background-image: url('https://i.ibb.co/hWcDKyW/fala.jpg');"></div>
        </div>
        <!-- Content -->
        <div class="lg:grid lg:grid-cols-1 justify-start">
            <h1 class="text-yellow-subtitle">FRONTEND</h1>
            <strong class="text-2xl">Cuentas Banco Falabella Peru</strong>
            <p class="my-2">
                Website developed for Banco Falabella Peru which allows users to open different types of bank accounts.
            </p>
            <p>
                Where the security of the entered data is paramount for obtaining the product.
            </p>
            <div class="h-14 my-4 flex items-center w-full lg:max-w-xs py-2 px-4 text-gray-500 rounded-lg shadow dark:text-gray-400 dark:bg-black-card" role="alert">
                <AngularIcon class="w-6 h-6" />
                <div class="ms-3 text-sm font-normal">Developed with Angular.</div>
            </div>
        </div>
    </div>
</section>
<section class="w-full mx-auto pt-20">
    <div class="lg:grid lg:grid-cols-2 lg:gap-16">
        <!-- Content -->
        <div class="lg:grid lg:grid-cols-1 justify-start">
            <h1 class="text-yellow-subtitle">FRONTEND</h1>
            <strong class="text-2xl">Tarjeta de crédito CMR Visa</strong>
            <p class="my-2">
                Website developed for Banco Falabella Peru that allows users to request different types of credit cards.
            </p>
            <div class="h-14 my-4 flex items-center w-full lg:max-w-xs py-2 px-4 text-gray-500 rounded-lg shadow dark:text-gray-400 dark:bg-black-card" role="alert">
                <AngularIcon class="w-6 h-6" />
                <div class="ms-3 text-sm font-normal">Developed with Angular.</div>
            </div>
        </div>
        <!-- Image -->
        <div class="hidden lg:flex">
            <div class="border-4 border-black-border rounded-lg bg-cover bg-top ..." style="width:400px; height:300px; background-image: url('https://i.ibb.co/Pt8x4WD/tarjetas.jpg');"></div>
        </div>
    </div>
</section>
<section id="project"  class="w-full mx-auto pt-20">
    <div class="lg:grid lg:grid-cols-2 lg:gap-16">
        <!-- Image -->
        <div class="hidden lg:flex">
            <div class="border-4 border-black-border rounded-lg bg-cover bg-left ..." style="width:400px; height:300px; background-image: url('https://i.ibb.co/8B3fz1V/portafolio.png');"></div>
        </div>
        <!-- Content -->
        <div class="lg:grid lg:grid-cols-1 justify-start">
            <h1 class="text-yellow-subtitle">FRONTEND</h1>
            <strong class="text-2xl">Mí Portafolio</strong>
            <p class="my-2">
                Portfolio created with Astro + Tailwind with the purpose of learning this new framework and staying updated with new technologies.
            </p>
            <div class="h-14 my-4 flex items-center w-full lg:max-w-xs py-2 px-4 text-gray-500 rounded-lg shadow dark:text-gray-400 dark:bg-black-card" role="alert">
                <AstroIcon class="w-6 h-6" />
                <div class="ms-3 text-sm font-normal">Developed with Astro.</div>
            </div>
        </div>
    </div>
</section>
<section class="w-full mx-auto pt-20">
    <div class="lg:grid lg:grid-cols-2 lg:gap-16">
        <!-- Content -->
        <div class="lg:grid lg:grid-cols-1 justify-start">
            <h1 class="h-10 text-yellow-subtitle">FullStack</h1>
            <strong class="text-2xl h-10">Craig Of The Creek Game</strong>
            <p class="my-2">
                Game created for CartoonNetwork, which was cross-platform accessible from the web.
            </p>
            <p><a class="font-medium text-blue-600 dark:text-yellow-subtitle hover:underline" href="https://www.cartoonnetworkme.com/games/craig-of-the-creek-defend-the-sewers/play"> Game Link</a></p>
            <div class="h-14 my-4 flex items-center w-full lg:max-w-xs py-2 px-4 text-gray-500 rounded-lg shadow dark:text-gray-400 dark:bg-black-card" role="alert">
                <JavascriptIcon class="w-6 h-6" />
                <div class="ms-3 text-sm font-normal">Developed with Javascript.</div>
            </div>
        </div>
        <!-- Image -->
        <div class="hidden lg:flex">
            <div class="border-4 border-black-border rounded-lg bg-cover bg-top ..." style="width:400px; height:300px; background-image: url('https://i.ibb.co/fvqJMPh/craig.png');"></div>
        </div>
    </div>
</section>
