---
import LinkedinIcon from "./icons/LinkedinIcon.astro";
---

<footer class="rounded-lg shadow m-4">
    <div class="w-full mx-auto max-w-screen-xl p-4 md:flex md:items-center md:justify-between">
      <span class="text-sm text-gray-500 sm:text-center dark:text-gray-400">© Developed by Ruben Suarez</span>
    <ul class="hidden lg:flex flex-wrap items-center mt-3 text-sm font-medium text-gray-500 dark:text-gray-400 sm:mt-0">
        <li>
            <a href="https://www.linkedin.com/in/ruben-rolando-suarez-hidalgo-dev/">
                <LinkedinIcon class="w-6 h-6 mx-6" />
            </a>
        </li>
        <li>
            <a href="#intro" class="hover:underline me-4 md:me-6">Home</a>
        </li>
    </ul>
    </div>

</footer>